body{background-color: #EAFFD6; text-align:center;}
img {
    width:600px;}

body{background: 
url("https://media.giphy.com/media/nfn2S5v8RUF2g/giphy.gif");
  background-repeat: repeat;}
 
p   {
font-size: xx-large;
color:white;}

